.wrapper {
  background-color: #fff;
  border-radius: 22px;
  width: 60%;
  padding: 22px;
  margin-top: 18px;
}

.wrapper:first-child {
  margin-top: 78px;
}

.heading {
  font-size: 32px;
  font-weight: 500;
  text-align: left;
}

.question_info_wrapper {
  display: flex;
  justify-content: space-between;
}
.question_info {
  display: flex;
  justify-content: flex-start;
}
.avatar {
  margin-right: 15px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.channel {
  height: 25%;
  display: flex;
  border-radius: 8px;
}
.channel_name {
  padding: 7px;
  background-color: #f9fafb;
  margin-right: 5px;
}

.content {
  margin-top: 8px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.bookmark_wrapper {
  background-color: #f9fafb;
  padding: 8px;
  border-radius: 100px;
}
.footer_icon:hover {
  cursor: pointer;
}
